<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")  %> 

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/createProduct.css">
</head>

<body>

    <%- include("./partials/header")  %> 

    <main class="main-create-product">

        <h1>CREAR PRODUCTOS</h1>

        <section class="form-create-product">
            
            <form action="/products/createProduct" method="POST" enctype="multipart/form-data">
                <article class="main-info-container">

                <div class="errors">
                    <ul>
                        
                    </ul>
                </div>
                <div class="div-name">
                    <label class="article-name" for="name">Nombre del artículo: </label>
                    <br>
                    <input class="space" type="text" name="name" id="product-name" value="<%= locals.oldData && locals.oldData.name ? locals.oldData.name : "" %>">
                    <% if (locals.errors && errors.name) { %>                
                        <p><%=errors.name.msg %> </p>
                    <% } %>
                    <div class="errorNameProduct">
                        <p></p>
                    </div>
                </div>

                <div class="div-description">
                    <label class="createP-textarea" for="description"> Descripción artículo: </label>
                    <textarea name="description" id="description" cols="40" rows="10" ><%= locals.oldData && locals.oldData.description ? locals.oldData.description : "" %> </textarea>
                    <% if (locals.errors && errors.description) { %>                
                        <p><%=errors.description.msg %> </p>
                    <% } %>
                    <div class="errorDescriptionProduct">
                        <p></p>
                    </div>
                </div>
                
                <div class="div-photo">
                    <label class="article-photo" for="image">Foto del articulo: </label>
                    <input type="file" name="image" id="image" class="coso" >
                    <% if (locals.errors && errors.image) { %>                
                        <p><%=errors.image.msg %> </p>
                    <% } %>
                    <div class="errorPhotoProduct">
                        <p></p>
                    </div>
                </div>
            </article>
            <article class="detail-info-container">

                <div class="div-price">
                    <label for="price">Precio: </label>
                    <input type="text" name="price" id="price" value="<%= locals.oldData && locals.oldData.price ? locals.oldData.price : "" %>">
                    <% if (locals.errors && errors.price) { %>                
                        <p><%=errors.price.msg %> </p>
                    <% } %>
                    <div class="errorPricePorduct">
                        <p></p>
                    </div>
                </div>
                
                
                <div class="div-rating">
                    <label for="rating"> Rating </label>
                    <select name="rating" id="rating">
                        <option value="">Calificá del 1 al 5</option>                      
                        <option value="argentina">1</option>
                        <option value="chile">2</option>
                        <option value="uruguay">3</option>
                        <option value="uruguay">4</option>
                        <option value="uruguay">5</option>
                    </select>                   
                    <div class="errorRatingProduct"> 
                        <p></p>
                    </div>
                </div>

                <div class="div-country">
                    <label for="country">País: </label>
                    <select name="country" id="country">
                        <option value="">Seleccioná el país</option>                      
                        <option value="argentina">Argentina</option>
                        <option value="chile">Chile</option>
                        <option value="uruguay">Uruguay</option>
                    </select>
                    <% if (locals.errors && errors.country) { %>                
                        <p><%=errors.country.msg %> </p>
                    <% } %>
                    <div class="errorCountryProduct">
                        <p></p>
                    </div>
                </div>

                <div class="div-brand">
                    <label for="brand">Marca: </label>
                    <select name="brand" id="brand">  
                        <option value="">Seleccioná una marca</option>                      
                        <option value="real">Real</option>
                        <option value="1888">1888</option>
                    </select>
                    <% if (locals.errors && errors.brand) { %>                
                        <p><%=errors.brand.msg %> </p>
                    <% } %>
                    <div class="errorBrandProduct">
                        <p></p>
                    </div>
                </div>
                <div class="div-bodega">
                    <label for="cellar">Bodega: </label>
                    <select name="cellar" id="cellar">     
                        <option value="">Seleccioná una Bodega</option>                   
                        <option value="Pulku">Pulku</option>
                        <option value="Saenz-Briones">Saenz Briones</option>
                    </select>
                </div>
                <!-- <div class="div-maridajes">
                    <label for="maridajes">Maridajes: </label>
                    <select name="maridajes" id="maridajes" multiple size="3">                  
                        <option value="ternera">Ternera</option>
                        <option value="cordero">Cordero</option>
                        <option value="cerdo">Cerdo</option>
                        <option value="pescado">Pescado</option>
                    </select>
                </div> -->
                
                <article class="buttons-container">
                <div class="div-button-reset">
                    <button type="reset"><i class="fas fa-trash"></i> Descartar</button>
                </div>
                <div class="div-button-submit"> 
                    <button type="submit"><i class="fas fa-save"></i> Crear artículo</button>
                </div>
            </article>
            </article>


            </form>
        </section>
        <section class="admin-menu">
            <%- include("./partials/adminMenu") %>
          </section>

    </main>

    <script src="/js/createProductValidation.js"></script>
    <%- include('./partials/footer') %>
    
</body>
</html>