<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")  %> 

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/editProduct.css">
</head>

<body>

    <%- include("./partials/header")  %> 

    <main class="main-edit-product">

        <h1>EDITAR PRODUCTOS</h1>
        <section class="form-edit-product">
            <form id="editForm" class="editForm" action="/products/editProduct/<%= product.id_product %>?_method=put" method="POST" enctype="multipart/form-data">
                
                <div class="errors">
                    <ul>
                        
                    </ul>
                </div>

                <div class="div-name">
                    <label for="name">Nombre del artículo</label>
                    <input type="text" name="name" id="product-name" placeholder= <%= product.name %>  value= <%= product.name %> >
                    <% if (locals.errors && errors.name) { %>                
                        <p><%=errors.name.msg %> </p>
                    <% } %>
                </div>

                <div class="div-description">
                    <label for="description"> Descripción artículo</label>
                    <textarea name="description" id="description" > <%= product.description %> </textarea>
                    <% if (locals.errors && errors.description) { %>                
                        <p><%=errors.description.msg %> </p>
                    <% } %>
                </div>
                
                <div class="div-photo">
                    <label for="image">Foto del artículo</label>
                    <input type="file" name="image" id="image" value="<%= product.image %>" >
                    <% if (locals.errors && errors.image) { %>                
                        <p><%=errors.image.msg %> </p>
                    <% } %>
                </div>
                
                <div class="div-price">
                    <label for="price">Precio</label>
                    <input type="text" name="price" id="price" placeholder=<%= product.price %>  value=<%= product.price %>>
                    <% if (locals.errors && errors.price) { %>                
                        <p><%=errors.price.msg %> </p>
                    <% } %>
                </div>
                
                <div class="div-country">
                    <label for="country">País: </label>
                    <select name="country" id="country">
                        <option value="">Selecciona el país</option>                      
                        <option value="argentina">Argentina</option>
                        <option value="chile">Chile</option>
                        <option value="uruguay">Uruguay</option>
                    </select>
                    <% if (locals.errors && errors.country) { %>                
                        <p><%=errors.country.msg %> </p>
                    <% } %>
                </div>

                <div class="div-brand">
                    <label for="brand">Marca: </label>
                    <select name="brand" id="brand">  
                        <option value="">Seleccioná una marca</option>                      
                        <option value="real">Real</option>
                        <option value="1888">1888</option>
                    </select>
                    <% if (locals.errors && errors.brand) { %>                
                        <p><%=errors.brand.msg %> </p>
                    <% } %>
                </div>
                <div class="div-bodega">
                    <label for="cellar">Bodega</label>
                    <select name="cellar" id="cellar">     
                        <option value="">Seleccioná una Bodega</option>                   
                        <option value="Pulku">Pulku</option>
                        <option value="Saenz-Briones">Saenz Briones</option>
                    </select>
                </div>

                <!-- <div class="div-maridajes">
                    <label for="maridajes">Maridajes</label>
                    <select name="maridajes" id="maridajes" multiple>                        
                        <option value="ternera">Ternera</option>
                        <option value="cordero">Cordero</option>
                        <option value="cerdo">Cerdo</option>
                        <option value="pescado">Pescado</option>
                    </select>
                </div> -->

                <div class="div-button-reset">
                    <button type="reset">Descartar cambios</button>
                </div>        

                <div class="div-button-submit">
                    <button type="submit">Guardar cambios</button>
                </div>  

            </form>
            <form action="/products/delete/ <%= product.id_product %> " method="POST">
                <div class="div-button-delete">
                    <button type="submit">Eliminar artículo</button>
                </div>
            </form>
        </section>

    </main>

    <script src="/js/editProductValidation.js"></script>
    
    <%- include('./partials/footer') %>
    
</body>
</html>