<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/index.css">

  </head>


  <body>
    <%- include('./partials/header') %>



    <!--Inicio del main-->
    <main>
      
      <!--carrusel-->
      <div id="conteItemsCarrusel">
        <div class="itemCarrusel">
        <!--IMAGEN 1-->
            <div class="tarjetaCarrusel">
                <img src="/img/1carrusel-primera.jpg" id="img1" class="img-carrusel">
            </div>  
            <div class="flechasCarrusel">
              <a href="#img3"> 
                <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#img2">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
        </div>
        <!--IMAGEN 2-->
        <div class="itemCarrusel">
            <div class="tarjetaCarrusel">
                <img src="/img/2carruse-segunda.jpg " id="img2" class="img-carrusel">
            </div>  
            <div class="flechasCarrusel">
                <a href="#img1"> 
                  <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#img3">
                  <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <!--IMAGEN 3-->
        <div class="itemCarrusel">
            <div class="tarjetaCarrusel">
                <img src="/img/3carrusel-tercera.jpg" id="img3" class="img-carrusel">
            </div>  
            <div class="flechasCarrusel">
                <a href="#img2"> 
                  <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#img1">
                  <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>   
    </div> 
    
    <!--<div id="contePuntos"> Revisar
        <a href="#img1"><i class="fas fa-circle"></i></a>
        <a href="#img2"><i class="fas fa-circle"></i></a>
        <a href="#img3"><i class="fas fa-circle"></i></a>
    </div>
    -->

      <section>
        <h1 class="index-h1">¡Encontrá la sidra perfecta!</h1><i class="far fa-search"></i>
      </section>

    
      <section class="articles">

        <section  class="most-value">
          <h2>Las sidras mejores valoradas</h2>
        </section>

        <div class="products">

          <!--Tarjetas dinamicas -->

          <% products.forEach(product => { %>
            <article class="product">
              <a href="/products/productDetail/<%= product.id %>">
                <img class= "card-img" src= <%= product.image %> alt="1888">
              </a>              
              <div class="main-article">
                <h4 class="product-name"> <%= product.name %> </h4> 
                <p class="price">$ <%= product.price %> </p>
                <div class="manzanas-calificacion">
                  <p>Valoración</p>
                  <% for( let index = 0; index < product.rating; index++ ) { %>

                    <i class="fas fa-apple-alt"></i>

                  <% } %>
                </div>                
              </div>
            </article>
            <% }) %>
          
      </section>  

      <!-- EXPERIENCIA SIDRA -->
      <section class="come-to-Argentina">
        <h3>¡Sumate a la experiencia Sidra!</h3>
        <h3>Queremos que conozcas nuestras experiencias a lo largo de toda Argentina. Así podrás saber más del mundo de la sidra.</h3>
      </section>

      <section class="experiencia-sidra">
        
        <article class="video-experiencia-sidra">          
          <img src="/img/video-youtube.jpg" alt="" class="video-img">
        </article>

        <article class="fotos-experiencia-sidra">
          <div class="exp-sidra-div">
            <img src="/img/Exp_Sidra2.jpg" alt="">
            <div class="descripcion-experiencia">
              <h3>El camino de la sidra</h3>
              <p>Vení a conocer cómo  se hace la Sidra y todos sus secretos</p>
            </div>
          </div>
          <div class="exp-sidra-div">
            <img src="/img/Exp_Sidra3.jpg" alt="">
            <div class="descripcion-experiencia">
              <h3>Experiencia Saenz Briones</h3>
              <p>Sumergite en el mundo de la sidra artesanal de la mano de la bodega Saenz Briones.</p>
            </div>
          </div>
          <div class="exp-sidra-div">
            <img src="/img/Exp_Sidra4.jpg" alt="">
            <div class="descripcion-experiencia">
              <h3>Sidra Patagónica</h3>
              <p>Hacé tu reserva y conocé el mundo de la sidra orgánica de la familia Barrera.</p>
            </div>
          </div>
          <!-- <img src="img/Exp_Sidra5.jpg" alt=""> -->
        </article>
      </section>

      <section class="admin-menu">
        <article class="admin-menu-article">
          <input type="checkbox" id="admin-menu">
          <label for="admin-menu"><i class="fas fa-users-cog"></i></label>
          <ul class="list-admin-menu">
            <li><a href="/products/createProduct">Crear Artículo</a></li>
            <!-- <li><a href="/products/editProduct">Editar Artículo</a></li> -->
          </ul>
        </article>

      </section>

    </main>
    <!--Final del main-->


    <%- include('./partials/footer') %>
    

  </body>
</html>
