<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/productDetail.css">
</head>

  <body>
    <%- include('./partials/header') %>
    

    <main class="main-product-detail">
      <!-- el producto elegido -->
      <!-- <main class="main-prod-detail">
        <section class="slider">
          <img src="" alt="" />
          <img src="" alt="" />
          <img src="" alt="" />
          <img src="" alt="" />
        </section> -->
      
      <section>
        <h1 class="h1-productD">Detalles de producto</h1>
      </section>

      <!-- Foto del producto -->
      <section class="selected-products">
          <article>
            <img class="card-img" src= <%= product.image %>  alt="1888"/>
          </article>
          <article class="product-amount">
            <div class="product-detail">
              <h4><%= product.name %></h4>
              <p class="productD-price"><%= product.price %></p>
            </div>  
            <label class="product-amount-label" for="input" placeholder="amount">Cantidad de productos</label>
            <br>
            <input class="product-units" type="number" placeholder="Unidades"/>
            </label>
            <section class="button-add-to-kart">  
              <a href="productCart">
              <button type="submit" class="primary"> Agregar al carro </button>
              </a>
            </section>
          </article>
        </section>
        
        
        <section>
          <article class="more-product-images">
            <img src="/img/1888-logo.jpg" alt="">
            <img src="/img/1888-caja.jpg" alt="">
          </article>
        </section>
          
        
      <section class="productD-line"></section>

      <section class="product-ratings">
        <article>
          <h3 class="ratings-h3">VALORACIONES</h3>
          <h5 class="ratings-users">Nacho Trossero</h5>
          <div class="ratings-icons">
            <% for( let index = 0; index < product.rating; index++ ) { %>
              <i class="fas fa-apple-alt"></i>
            <% } %>
          </div>
            <p class="user-comment-productD">"¡El sabor es asombroso, la recomiendo sin dudarlo!"</p>
        </article>
      </section>

      <section class="productD-line"></section>

      <!-- Descripción del producto-->
      <section class="product-description">
        <h3 class="description-h3">DESCRIPCIÓN</h3>
        <h4><%= product.name %></h4>
        <p>
        <%= product.description %>
        </p>
      </section>

      <section class="productD-line"></section>

      <section class="aditional-info-product">
        <h3 class="additional-info-h3">INFORMACIÓN ADICIONAL</h3>
        <h4>Cata de sidras</h4>
        <h5>Color</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <h5>Aroma</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <h5>Boca</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <h5>Alcohol</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <h5>Acidez</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <h5>Azúcar</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <h5>PH</h5>
        <p  class="p-PH">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
      </section>
      
    </main>

  <%- include('./partials/footer') %>
  
    </body>
</html>
